@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Poppins {
    font-family: "Poppins";
}

.Roboto {
    font-family: "Roboto";
}

.w-100 {
    width: 100%;
}

.fs-15 {
    font-size: 15px !important;
}

.text-blue{
    color: rgba(30, 113, 255) !important;
}
.fw-200 {
    font-weight: 200;
}

.justify-space-between {
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}
.nav-section {
    background-color: rgba(30, 113, 255);
}
li a:hover{
background-color: unset !important;
color: unset !important;
}

.navbar-brand {
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    font-size: 26px !important;
}

.app {
    font-size: 26px;
    font-weight: 275;
    line-height: 30.16px;
    letter-spacing: -0.02em;
}

.nav-btn {
    background-color: rgba(75, 141, 255) !important;
    border-radius: 210px;
    border: none !important;
    padding: 8px 20px;
    margin-left: 10px;
}

.nav-btn:hover {
    background-color: #fff !important;
    color: rgba(75, 141, 255) !important;
}

li {
    padding-left: 20px !important;
}

li a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    border-radius: 10px;
}

li a:hover {
    color: black !important;
    background-color: #fff;
}

button[aria-expanded="false"] span.lines {
    display: block !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

button[aria-expanded="false"] span.cross {
    display: none !important;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.heading {
    font-size: 75px;
    font-weight: 600;
    line-height: 96.3px;
    letter-spacing: -0.02em;
}

.para {
    font-size: 21px;
    font-weight: 400;
    line-height: 24.61px;
}

.para-btn {
    background-color: rgba(30, 113, 255);
    border: 1px solid #fff;
    border-radius: 60px;
    padding: 12px 35px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}


/* section2 */
.section2-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
    margin-top: 80px;
}

.section2-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    max-width: 566px;
    color: rgba(107, 114, 120);
}

/* section3 */
.section3 {
    background-color: rgba(232, 241, 255);
}

.section3-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
}

.section3-para {
    font-size: 21px;
    font-weight: 400;
    line-height: 33.96px;
    color: rgba(100, 109, 120);
}

.btn-bg-blue{
    background-color: rgba(30, 113, 255) !important;
}
.section3-btn {
    border: none;
    border-radius: 60px;
    background-color:transparent;
    color: rgba(30, 113, 255);
    padding: 10px 35px;
    margin-bottom: 25px;
    border: 1px solid rgba(30, 113, 255);
}

hr {
    max-width: 167px;
    margin-top: 50px !important;
}

.rating-para {
    max-width: 274px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.11px;
    color: rgba(100, 109, 120);
}

.simple-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
}

.footer-heading {
    font-size: 26px;
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    color: rgba(30, 113, 255);
}

.footer-para {
    font-size: 15px;
    font-weight: 400;
    line-height: 24.25px;
    color: rgba(100, 109, 120);
    max-width: 168px;
}

.list-heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
}

footer {
    a {
        text-decoration: none !important;
    }
}

.footer-link {
    color: rgba(107, 114, 120) !important;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 21.02px;
}



@media (max-width:992px) {
    .heading {
        font-size: 50px;
    }
}

@media (max-width:768px) {
    .heading {
        font-size: 40px;
        line-height: 50px;
    }

    .flex-col-reverse {
        flex-direction: column-reverse;
    }
}

@media (max-width:576px) {
    .para-btn {
        padding: 10px 20px !important;
    }

    .section2-heading {
        font-size: 30px;
        margin-top: 30px !important;
    }

    .section2-para {
        font-size: 14px;
    }

    .section3-btn {
        padding: 10px 20px !important;
    }
}

@media (min-width:992px) {
    .overflow-img {
        display: none;
    }

    .section3::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 70%;
        left: 0px !important;
        background-image: url(../img/section3-\ img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}